extends layout

block layout-content
  div.container-sm.mt-3
    div.jumbotron
      h1.display-4 Hello, Blog
      p.lead Welcome stranger. This is a pretty regular blog-like site that consumes an external API.