extends layout

block layout-content
  div.container-sm.mt-3
    div.jumbotron
      h1.display-4 Hello, Blog &#128075;&#127995;
      p.lead Welcome stranger. This is a pretty regular blog-like site that consumes an external API.

    div.posts-list
      div.row
    
    div.row.mt-3
      footer.shadow-sm.p-3.mb-5.bg-white.rounded.col-md-12
        p.text-center Website created using: 
          strong Node / Bootstrap / jQuery / JSONPlaceholder